@import "../../../shared/variables.scss";

.main {
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
  padding-bottom: 5rem;
  height: 90%;
  background-color: $cardColor2;
  border: solid 1px $primary;
  color: $text;
}

.cardPreview {
  width: 50%;
  height: 100%;
  overflow-y: auto;

  img {
    width: 90%;
    height: 15rem;
  }
}


.cardDetails {
  width: 50%;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Image {
  height: 50px;
  width: 50px;
}

.buy {
  padding: 1.5rem 2rem;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s all;
  background-color: $text;
  color: white;
}

.buy:hover {
  background-color: white;
  color: black;
}
