@import "../../shared/variables.scss";

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;  */
  gap: 20px;
  /* background-color: antiquewhite; */
  font-family: inherit;
}
