@import "../../shared/variables.scss";

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;  */
  gap: 20px;
  /* background-color: antiquewhite; */
  font-family: inherit;
}

.button {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 85%;
}
