@import "../../shared/variables.scss";

.headerBar {
  width: 100%;
  height: 80px;
  border-bottom: solid 1px $primary;
  // border-width: 1px 0 1px 0;
  // max-width: $max-width;
  background: $secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // border-radius: 0.5rem;
}

.logo {
  font-family: $accent;
  font-size: 1.5rem;
  color: $primary;
  padding: 1rem 2rem;
  font-weight: 600;
}

.content {
  width: 100%;
  max-width: $max-width;
  padding: 1rem 0 1rem 1rem;
  margin: 0;
}

.footerBar {
  width: calc(100% - 2rem);
  max-width: $max-width;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid $tertiary;
}

.github {
  width: auto;
  height: auto;
  margin-left: 1rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.75;
  }
  img:hover {
    opacity: 1;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.user {
  width: auto;
  height: auto;
  img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.125rem 0.125rem 0 0;
  }
  img:hover,
  img:focus {
    cursor: pointer;
  }
}

.marketplaceLink {
  height: 80px;
  padding: 1rem 2rem;
  margin-right: 1px;
  display: grid;
  place-content: center;
  border-left: solid 1px $primary;
  transition: all 0.2s ease-in-out;
}

.marketplaceLink:hover {
  background: $primary;
  color: $secondary;
  text-decoration: none;
}

.shareButton {
  background: none;
  border: none;
  // border-left: solid 1px $primary;
  height: 80px;
  padding: 1rem 2rem;
  font-family: $accent;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.shareButton:hover {
  cursor: pointer;
  background: $primary;
  color: $secondary;
}



// share popup
.sharePopupBg {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.popup {
  background: white;
  padding: 2rem;
  width: 500px;

  input {
      margin-top: 20px;
      width: 100%;
      height: 2.9375rem;
      background: #fafafa;
      border: 1px solid #e3e3e3;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1rem;
      font-family: $accent;
      color: $text;
  }

  .buttons {
      display: flex;
      margin-top: 30px;
      gap: 10px;
  }

  .send {
      border: none;
      padding: 1rem 2rem;
      background: $primary;
      color: $secondary;
      font-family: $accent;
      font-weight: 700;
      cursor: pointer;
  }
  .cancel {
      border: none;
      padding: 1rem 2rem;
      background: $secondary;
      color: $primary;
      font-family: $accent;
      cursor: pointer;
  }
}