@import "../../shared/variables.scss";

.button {
    display: inline-block;
    width: auto;
    height: 80px;
    display: grid;
    place-content: center;
    padding: 1rem 2rem;
    min-width: 7rem;
    // border-radius: .5rem;
    text-align: center;
    background: $primary;
    color: white;
    font-family: $accent;
    font-weight: 700;
}