@import "../../shared/variables.scss";

.card {
  padding: 1.5rem;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: $cardColor2;
  cursor: pointer;
  color: $text;
  overflow: hidden;
}

.Img {
  // width: 100%;
  // height: 50%;
  border: 2px dotted $text;
  transform: scaleX(1);
  transform: scaleY(1);
  // width: 25rem;
  // height: 20rem;
  padding: 1rem;
  // margin: -2.5rem 0;
  background-color: white;
}

.rawtohtml {
  filter: blur(0px);
}

.rawtohtml img {
  width: 75%;
  height: 50px;
}

// .cardImgTop {
//   width: 20rem;
// }

.heading {
  margin: 0;
  padding: 10px 0;
  font-weight: 800;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  p {
    color: grey;
    font-size: 1rem;
    padding: 6px 0;
    margin: 0;
    /* padding: 2px 0; */
  }
  h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    /* padding: 2px 0; */
  }
}
